@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/fonts/OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(/fonts/Oswald-Regular.woff) format('woff');
}
@media (max-width: 1024px) { 
	.container > .inner{
		margin-left:0px!important;
	}
	.user-profile{
		text-align:center!important;
	}
	.user-profile > img{
		margin-right:0px!important;
	}
}
@media (min-width:768px) {

}
@media (min-width:601px) and (max-width:767px) {

}

@media (max-width: 600px) { 
	.hidden-phone{
		display:none!important;
	}
	.profile{
		position:relative!important;
		margin: 80px auto 0px auto!important;
		left:0px!important;
		top:0px!important;
		text-align:center;
	}
	.info{
		position:relative!important;
		height:auto!important;
		width:100%;
		left:0px!important;
		top:0px!important;
		margin-top:30px!important;
		margin-left:0px!important;
		padding-left:0px!important;
		padding-right:0px!important;
		-webkit-border-radius:0px!important;
		-moz-border-radius:0px!important;
		border-radius:0px!important;
		text-align:center;
	}
	.info .content{
		margin:0px!important;
		padding:30px 0px 30px 0px!important;
	}
	.timer{
		padding:0px 0px!important;
		text-align:center;
		left:0px!important;
		height:40px;
		width:100%;
		line-height:40px;
		margin-left:0px!important;
		font-size:1.0rem!important;
	}
}

html{
	font-family: 'Open Sans',arial,sans-serif;
	width:100%;
	height:100%;
}
body{
	width:100%;
	height:100%;
}
header{
	background-color:rgba(0,0,0,1);
	width:200px;
	height:160px;
	text-align:center;
	position:absolute;
	top:0px;
	left:0px;
	z-index:5;
	cursor:pointer;
}
h1{
	
	color:#2ACFE8;
}			
h5{
	font-weight:normal;
	margin:0.3em 0px 0px 0px;
}
dl {
	margin-bottom:10px;
}
 
dl dt {
	color:#0096CC;
	float:left; 
	font-weight:bold; 
	margin-right:5px; 
	padding:5px;  
	width:80px; 
	text-align:right;
}
 
dl dd {
	margin:2px auto;
	padding:5px 0;
	overflow:hidden;
}

.banner{
	margin-top:40px;
}
.navicon{
	position:fixed;
	left:200px;
	top:0px;
	background-color:rgba(255,255,255,0.7);
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	cursor:pointer;
	z-index:4;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.navicon.toggle{
	left:0px;
}			
.navicon.hidden{
	top:-40px;
}
.navicon:hover{
	background-color:rgba(255,255,255,1);
}
.signout{
	position:fixed;
	right:0px;
	top:0px;
	background-color:rgba(255,255,255,0.7);
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	cursor:pointer;
	z-index:4;
	font-size:20px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.signout:hover{
	background-color:rgba(255,255,255,1);
}
.timer{
	position:fixed;
	top:0px;
	padding:5px;
	left:50%;
	margin-left:-85px;
	font-size:0.8rem;
	color:white;
	background-color:#329BCE;
	z-index:3;
	
}

.navigator{
	width:200px;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background-color:rgba(20,20,20,1);
	z-index:4;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.navigator.hidden{
	left:-200px;
}
.navigator > ul{
	padding:0px;
	margin-top:160px;
	width:100%;
	background-color:rgba(0,0,0,0.7);
	
}
.navigator > ul > li{
	list-style-type: none; 
	width:100%;
	height:75px;
	line-height:75px;
	font-size:20px;
	background-color:rgba(57, 57, 57,0.5);
	-webkit-transition: background-color .3s;
	-moz-transition: background-color .3s;
	-ms-transition: background-color .3s;
	-o-transition: background-color .3s;
	transition: background-color .3s;
}
.navigator > ul > li:hover{
	background-color:rgba(57, 57, 57,1.0);
}			
.navigator > ul > li.blue.selected{
	background-color:#0096CC;
}			
.navigator > ul > li.green.selected{
	background-color:#20AA2B;
}			
.navigator > ul > li.yellow.selected{
	background-color:#f1c40f;
}			
.navigator > ul > li.pink.selected{
	background-color:#FF7560;
}

.navigator > ul > li.blue .label{
	background-color:#0096CC;
}			
.navigator > ul > li.green .label{
	background-color:#20AA2B;
}			
.navigator > ul > li.yellow .label{
	background-color:#f1c40f;
}			
.navigator > ul > li.pink .label{
	background-color:#FF7560;
}

.navigator > ul > li > a{
	display:block;
	width:100%;
	height:100%;
	color:white;
	text-decoration: none;
}	

.label{
	width:10px;
	height:100%;
	display:block;
	float:left;
	margin-right:10px;
	
}
.label.blue{
	background-color:#0096CC;
}							
.label.green{
	background-color:#20AA2B;
}				
.label.yellow{
	background-color:#f1c40f;
}	
.label.pink{
	background-color:#FF7560;
}				
.icon{
	margin-right:10px;
	margin-left:10px;
}			
.icon.remove{
	color:red;
	cursor:pointer;
}
			
.container{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
}
.container > .inner{
	width:auto;
	height:auto;
	position:relative;
	margin-left:200px;
}
.img-circle{
	-webkit-border-radius:500px;
	-moz-border-radius:500px;
	border-radius:500px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	
}
.profile-img{
	width:180px;
	height:180px;
}
.mini-profile-img{
	width:100px;
	height:100px;
}

.profile{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-300px;
	margin-top:-130px;
	z-index:1;
}
.info{
	height:190px;
	padding-left:210px;
	padding-right:30px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-305px;
	margin-top:-135px;
	-webkit-border-radius:500px;
	-moz-border-radius:500px;
	border-radius:500px;
	background-color:rgba(0, 0, 0,0.7);
}
.info > .content{
	margin:60px 0px 0px 0px;
}

.inner > .title{
	font-size:30px;
	color:#FFFFFF;
	background-color:rgba(20, 20, 20,1);
	line-height:210px;
	height:160px;
	text-align:center;
	border-bottom:solid;
	border-color:#20AA2B;
	
}
.inner > .content{
	margin:100px 5px 0px 5px;
	
}

.text-left{
	text-align:left;
}			
.text-center{
	text-align:center;
}			
.text-right{
	text-align:right;
}
.pure-g-r{
	margin-top:10px;
}
.user-profile{
	text-align:right;
}
.user-profile > img{
	margin-right:30px;
}
.chart{
	width:100%;
	height:400px;
}


/*   Signin Page */

.header{
	font-family:'Oswald',arial,sans-serif;
	font-size:26px;
	font-weight:normal;
	color:rgb(255, 255, 255);
	background-color:rgba(215, 72, 44,0.6);
}

.shadow-fade{
	background: -webkit-linear-gradient(transparent 0%,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.7) 100%);
	background: linear-gradient(transparent 0%,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.7) 100%);
	bottom:0;
	width:100%;
	height:153px;
	position: absolute;
}
.bar{
	bottom:0px;
	width:100%;
	position: absolute;
}
.bar.signin{
	top:33%;
	width:100%;
	position: absolute;
}
.help{
	float:right;
	display: inline-block;
	color:white;
	margin:0px 1em 0px 1em;
	height:60px;
	text-align:center;
	
}
.menu-btn{
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: rgba(0,0,0,.7);
	background-image: none;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight:bold;
	outline: none;
	padding: 3px 8px;
	width:85px;
	height:20px;
	border: 1px solid rgba(0,0,0,.15);
	margin: 15px 0 0 20px;
}
.overlay{
	background-color:white;
	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	z-index:7;
	text-align:center;
}
.message{
	color:#F47063;
}
.checkbox{
	color:white;
	font-size:17px;
}
.hide{
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
