@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(/font/Oswald-Regular.woff) format('woff');
}
@media (min-width: 768px) {
	.profile{
		text-align:right;
	}
	.info{
		text-align:left;
	}
}
@media (max-width: 767px) {
	.profile{
		text-align:center;
	}
	.info{
		text-align:center;
	}
}
@media (max-width: 480px) { 
	.hidden-phone{
		display:none;
	}
}
body{
	
	font: normal 13px Roboto,arial,sans-serif;
	overflow:auto;
}
h1{
	color:white;
	font-weight:normal;
}

.img-circle{
	-webkit-border-radius:500px;
	-moz-border-radius:500px;
	border-radius:500px
	
}

.menu{
	background-color: rgba(0,0,0,0.6);
	height: 60px;
	width:100%;
	z-index:1;
	opacity:1;
	position:fixed;
	top:0;
	left:0;
}
.cover{
	width:100%;
	height:auto;
	position:relative;
}

.cover-img{
	width:100%;
	height:auto;
	min-height:350px;
	min-width:525px;
	border:0;
}
.profile-img{
	width:120px;
	height:120px;
	margin-right:15px;
	
}
.shadow-fade{
	background: -webkit-linear-gradient(transparent 0%,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.7) 100%);
	background: linear-gradient(transparent 0%,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.7) 100%);
	bottom:0;
	width:100%;
	height:153px;
	position: absolute;
}
.bar{
	bottom:0px;
	width:100%;
	position: absolute;
}
.bar.login{
	top:33%;
	width:100%;
	position: absolute;
}
.timer{
	float:right;
	display: inline-block;
	font-size: 13px;
	color:white;
	margin:0px 0px 0px 1em;
	height:60px;
	line-height:60px;
}
.banner{
	font-family:'Oswald',arial,sans-serif;
	
	float:left;
	display: inline-block;
	font-size: 26px;
	color:#F47063;
	margin:0px 0px 0px 1em;
	height:60px;
	line-height:60px;
}
.sign-out,.help{
	float:right;
	display: inline-block;
	color:white;
	margin:0px 1em 0px 1em;
	height:60px;
	text-align:center;
	
}
.menu-btn{
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: rgba(0,0,0,.7);
	background-image: none;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight:bold;
	outline: none;
	padding: 3px 8px;
	width:85px;
	height:20px;
	border: 1px solid rgba(0,0,0,.15);
	margin: 15px 0 0 20px;
}
#name{
	margin:1.0em 0px 0px 0px;
}
#email{
	color:lightgray;
	margin:0.3em 0px 0px 0px;
}
#time{
	color:lightgray;
	margin:0.3em 0px 0px 0px;
}
.overlay{
	background-color:white;
	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	z-index:999999;
	text-align:center;
}
.message{
	color:#F47063;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
.left{
	text-align:left;
}
.shadow{
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}